## Importing Libraries

In [142]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

label encoder is use to encode the data.

In [143]:
from sklearn.preprocessing import LabelEncoder

# Loading Dataset

In [144]:
dataset = pd.read_csv('datasets/flower.csv')

In [145]:
dataset

,Dataset order,Sepal length,Sepal width,Petal length,Petal width,Species
0,1,5.1,3.5,1.4,0.2,I.�setosa
1,2,4.9,3.0,1.4,0.2,I.�setosa
2,3,4.7,3.2,1.3,0.2,I.�setosa
3,4,4.6,3.1,1.5,0.2,I.�setosa
4,5,5.0,3.6,1.4,0.3,I.�setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,I.�virginica
146,147,6.3,2.5,5.0,1.9,I.�virginica
147,148,6.5,3.0,5.2,2.0,I.�virginica
148,149,6.2,3.4,5.4,2.3,I.�virginica
149,150,5.9,3.0,5.1,1.8,I.�virginica

In [146]:
x = dataset.iloc[:,1:5].values
y = dataset.iloc[:,5].values

In [147]:
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [148]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

## Train Test and Splitting

In [149]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2) #0.2 or 1/4

## Fitting Simple Linear Regression Model to train the set

In [150]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

## Predecting the Result

In [151]:
Y_pred = regressor.predict(x_test)

## Calculating Accuracy of linear regression

In [152]:
r2_score = regressor.score(x_test,y_test)
print(r2_score*100,'%')

92.45966011901747 %

## Fitting Logistic Regression Model to train the set

In [153]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

LogisticRegression()

## Predecting the Result

In [154]:
y_pred = logmodel.predict(x_test)

## To check the prediction is correct or not.

In [155]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[ 5,  0,  0],
       [ 0, 11,  0],
       [ 0,  0, 14]], dtype=int64)

## Calculating Accuracy of logistic regression

In [156]:
r2_score = logmodel.score(x_test,y_test)
print(r2_score*100,'%')

100.0 %